.popup__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

@media screen and (min-width: 319px) and (max-width: 690px){
  .popup__field::after{
    bottom: 91px;
  }
  .popup__field::before{
    bottom: 151px;
  }
}

/*не нашел способ прописать псевдо элементы к инпутам, на стэк оверфлоу 5 летней давность скзано 
что к инпутам псевдо элементы не применяются*/