.popup__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}
.popup__field::after{
  content: " ";
  border-bottom: 1px solid #545454;
  width: 100%;
  position: absolute;
  bottom: 98px;
  opacity: 0.2;
}
.popup__field::before{
  content: " ";
  border-bottom: 1px solid #545454;
  position: absolute;
  width: 100%;
  bottom: 158px;
  opacity: 0.2;
}

/*не нашел способ прописать псевдо элементы к инпутам, на стэк оверфлоу 5 летней давность скзано 
что к инпутам псевдо элементы не применяются*/